body, h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 150px;
    height: auto;
}

.pricing-section{
    display: block;
    text-align: right;
    margin: 20px 0;
}

.price {
    font-size: 30px;
    font-weight: 700;
}

.thumbnail-padding{
    padding: 50px;
}

.no-margin{
    margin: 0;
}

#sportsCount {
    font-size: 14px;
    font-weight: 700;
}

.red{
    color: red;
}